<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_procedure" model="ir.actions.act_window">
        <field name="name">Процедуры</field>
        <field name="res_model">tender.procedure</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_lot" model="ir.actions.act_window">
        <field name="name">Лоты</field>
        <field name="res_model">tender.lot</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_participant" model="ir.actions.act_window">
        <field name="name">Участники</field>
        <field name="res_model">tender.participant</field>
        <field name="view_mode">tree</field>
    </record>

    <menuitem id="menu_procedure_root" name="Тендеры" sequence="10">
        <menuitem id="menu_procedure" name="Процедуры" action="tender_info.action_procedure"/>
<!--        <menuitem id="menu_lots" name="Лоты" action="tender_info.action_lot"/>-->
<!--        <menuitem id="menu_participants" name="Участники" action="tender_info.action_participant"/>-->
        <menuitem id="menu_import_wizard" name="Импорт торговых процедур" action="tender_info.action_import_wizard"/>
    </menuitem>


</odoo>